.swiper {
    width: 100%;
    height: 550px;
    position: relative;
    /* border: 1px solid red; */
  }
  .swiper img{
    width: 100%;
    height: 100%;
  }
.u1{
  /* width: 60%;
  height: 230px;
  border: 1px solid palegreen; */
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.u1 h3{
  font-size: 30px;
  letter-spacing: 1px;
}
.u1 h1{
  font-size: 75px;
  letter-spacing: 1px;
}
.u1 button{
  margin-top: 10px;
  width: 40%;
  height: 50px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  background-color: #000;
  border: none;
}

.u2{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.u2 h1{
  font-size: 95px;
  text-align: center;
}
.u2 button{
  margin-top: 10px;
  width: 40%;
  height: 50px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #fff;
  background-color: #000;
  border: none;
}





.nav{
  width: 100%;
  height: 60px;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 20%;
  height: 50px;
  /* border: 1px solid olive; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.link{
  width: 40%;
  height: 50px;
  /* border: 1px solid orange; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.link a{
  text-decoration: none;
  color: #000;
}
.ican{
  width: 20%;
  height: 50px;
  /* border: 1px solid orangered; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ican i{
  font-size: 20px;
}


.min{
  width: 100%;
  height: 500px;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.t1{
  width: 30%;
  height: 350px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.t1 h1{
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}
.t1 span{
  font-size: 45px;
  /* color: rgb(122,198,77); */
}
.t1 p{
  font-size: 20px;
  text-align: center;
  color: #9b9191;
}
.t1 h5{
  color: rgb(122,198,77);
}
.t2{
  width: 30%;
  height: 350px;
  border: 1px solid red;
  overflow: hidden;
}
.t2 img{
  width: 100%;
  height: 100%;
}
.t3{
  width: 30%;
  height: 350px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.t3 h1{
  font-size: 40px;
  font-weight: 200;
  color: rgb(122,198,77);
}
.t3 h5{
  text-align: center;
  font-size: 15px;
  color: rgb(77,77,77);
}
.t3 span{
  color: rgb(194, 180, 194);
}

.line{
  transform: scale(1.2);
  transition: 2s;
}