*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: 80px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-evenly;
}
.logo{
    width: 20%;
    height: 80px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.link{
    width: 40%;
    height: 80px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.link a{
    font-size: 17px;
    text-decoration: none;
    color: #000;
}
.link a:hover{
    color: rgb(159,120,255);
    background-color: transparent;
}
.icon{
    width: 30%;
    height: 80px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
}
.p-icon{
    width: 45%;
    height: 80px;
    /* border: 1px solid palegreen; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.p-icon i{
    font-size: 15px;
}
.p-icon i:hover{
    color: rgb(159,120,255);
    background-color: transparent;
}
.sarch{
    width: 45%;
    height: 80px;
    /* border: 1px solid palegreen; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sarch i{
    font-size: 20px;
}
.sarch h1{
    font-size: 15px;
    color: #fff;
    padding-left: 3px;
}
.sarch button{
    width: 60%;
    height: 40px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background-color: rgb(159,120,255);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .sec1 */

.sec1{
    width: 100%;
    height: 505px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.video{
    width: 91%;
    height: 500px;
    /* border: 1px solid red; */
}

.swiper {
    width: 100%;
    height: 100%;
    /* border: 1PX solid ; */
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* s1 */


  .s1-img {
    width: 100%;
    height: 100%;
    /* border: 1px solid palegreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(2.png);
    background-size: cover;
  }
  .s1-img h1{
    font-size: 105px;
    color: rgba(255, 255, 255, 0.817);
  }
  .s1-img button{
    width: 15%;
    height: 40px;
    margin-top: 15px;
    background-color: rgb(159,120,255);
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
  }
.s1-img button::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background: rebeccapurple;
    z-index: -1;
    transition: .2s ease-out;
}
.s1-img button:hover::before{
    left:0;
    width:100%;
}

  /* s2 */

  .s2-img {
    width: 100%;
    height: 100%;
    /* border: 1px solid palegreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(3.png);
    background-size: cover;
  }
  .s2-img h1{
    font-size: 105px;
    color: rgba(255, 255, 255, 0.817);
  }
  .s2-img button{
    width: 15%;
    height: 40px;
    margin-top: 15px;
    background-color: rgb(159,120,255);
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
  }
  .s2-img button::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background: rebeccapurple;
    z-index: -1;
    transition: .2s ease-out;
}
.s2-img button:hover::before{
    left:0;
    width:100%;
}

  /* s3 */

  .s3-img {
    width: 100%;
    height: 100%;
    /* border: 1px solid palegreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(4.png);
    background-size: cover;
  }
  .s3-img h1{
    font-size: 105px;
    color: rgba(255, 255, 255, 0.817);
  }
  .s3-img button{
    width: 15%;
    height: 40px;
    margin-top: 15px;
    background-color: rgb(159,120,255);
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
  }
  .s3-img button::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background: rebeccapurple;
    z-index: -1;
    transition: .2s ease-out;
}
.s3-img button:hover::before{
    left:0;
    width:100%;
}


  /* .sec2 */

  .sec2{
    width: 100%;
    height: 400px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .m-img1{
    width: 23%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    align-items: end;
    background: url(5.png);
    background-size: cover;
  }
  .m-img2{
    width: 23%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    align-items: end;
    background: url(6.png);
    background-size: cover;
  }
  .m-img3{
    width: 23%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    align-items: end;
    background: url(7.png);
    background-size: cover;
  }
  .m-img4{
    width: 23%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    align-items: end;
    background: url(8.png);
    background-size: cover;
  }
  

  /* m1 */

  .m-box{
    width: 100%;
    height: 180px;
    /* border: 5px solid palegreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
  }
  .m-btn{
    width: 100%;
    height: 80px;
    /* border: 1px solid peru; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .m-btn button{
    width: 60%;
    height: 50PX;
    border-radius: 10PX;
    border: none;
    background-color: rgb(159,120,255);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
  }
  .m-btn button::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background: rebeccapurple;
    z-index: -1;
    transition: .2s ease-out;
}
.m-btn button:hover::before{
    left:0;
    width:100%;
}
  .m-txt{
    width: 100%;
    height: 70px;
    /* border: 1px solid purple; */
    background-color: #0000004b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m-txt h1{
    color: #fff;
    font-size: 40px;
  }
  .line1{
    display: flex;
  }

  /* m2 */

  .m-box2{
    width: 100%;
    height: 180px;
    /* border: 5px solid palegreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
  }
  .m-btn2{
    width: 100%;
    height: 80px;
    /* border: 1px solid peru; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .m-btn2 button{
    width: 60%;
    height: 50PX;
    border-radius: 10PX;
    border: none;
    background-color: rgb(159,120,255);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
  }
  .m-btn2 button::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background: rebeccapurple;
    z-index: -1;
    transition: .2s ease-out;
}
.m-btn2 button:hover::before{
    left:0;
    width:100%;
}
  .m-txt2{
    width: 100%;
    height: 70px;
    /* border: 1px solid purple; */
    background-color: #0000004b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m-txt2 h1{
    color: #fff;
    font-size: 40px;
  }
  .line1{
    display: flex;
  }

  /* m3  */
  .m-box3{
    width: 100%;
    height: 180px;
    /* border: 5px solid palegreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
  }
  .m-btn3{
    width: 100%;
    height: 80px;
    /* border: 1px solid peru; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .m-btn3 button{
    width: 60%;
    height: 50PX;
    border-radius: 10PX;
    border: none;
    background-color: rgb(159,120,255);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
  }
  .m-btn3 button::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background: rebeccapurple;
    z-index: -1;
    transition: .2s ease-out;
}
.m-btn3 button:hover::before{
    left:0;
    width:100%;
}
  .m-txt3{
    width: 100%;
    height: 70px;
    /* border: 1px solid purple; */
    background-color: #0000004b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m-txt3 h1{
    color: #fff;
    font-size: 40px;
  }
  .line1{
    display: flex;
  }

  /* m4 */

  .m-box4{
    width: 100%;
    height: 180px;
    /* border: 5px solid palegreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
  }
  .m-btn4{
    width: 100%;
    height: 80px;
    /* border: 1px solid peru; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .m-btn4 button{
    width: 60%;
    height: 50PX;
    border-radius: 10PX;
    border: none;
    background-color: rgb(159,120,255);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
  }
  .m-btn4 button::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background: rebeccapurple;
    z-index: -1;
    transition: .2s ease-out;
}
.m-btn4 button:hover::before{
    left:0;
    width:100%;
}
  .m-txt4{
    width: 100%;
    height: 70px;
    /* border: 1px solid purple; */
    background-color: #0000004b;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m-txt4 h1{
    color: #fff;
    font-size: 40px;
  }
  .line1{
    display: flex;
  }
  

  /* .sec3 */

  .sec3{
    width: 100%;
    height: 200px;
    /* border: 1px solid rebeccapurple; */
  }
  .sec3 h1{
    text-align: center;
    font-size: 80px;
    letter-spacing: 2px;
    color: rgb(20,12,64);
  }

  /* sec4  */

  .sec4{
    width: 100%;
    height: 400px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /* s1 */
  
  .s-img1{
    width: 23%;
    height: 380px;
    /* border: 1px solid red; */
  }
  .s-im1{
    width: 100%;
    height: 250px;
    /* border: 1px solid palegoldenrod; */
  }
  .s-im1 img{
    width: 100%;
    height: 100%;
  }
  .s-tx1{
    width: 100%;
    height: 130px;
    /* border: 1px solid palegreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .s-nam{
    width: 100%;
    height: 40px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
  }
  .s-nam a{
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
  }
  .s-icon{
    width: 100%;
    height: 40px;
    /* border: 1px solid peru; */
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
  }
  .s-icon i{
    font-size: 15px;
    color: rgb(251,186,66);
  }
  .s-amp{
    width: 100%;
    height: 40px;
    /* border: 1px solid palevioletred; */
    display: flex;
    justify-content: center;
  }
  .s-amp h4{
    font-size: 22px;
    font-weight: 100;
    color: #000000e2;
  }


  /* s2 */


  .s-img2{
    width: 23%;
    height: 380px;
    /* border: 1px solid red; */
  }
  .s-im2{
    width: 100%;
    height: 250px;
    /* border: 1px solid palegoldenrod; */
  }
  .s-im2 img{
    width: 100%;
    height: 100%;
  }
  .s-tx2{
    width: 100%;
    height: 130px;
    /* border: 1px solid palegreen; */
  }
  .s-nam2{
    width: 100%;
    height: 40px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
  }
  .s-nam2 a{
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
  }
  .s-icon2{
    width: 100%;
    height: 40px;
    /* border: 1px solid peru; */
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
  }
  .s-icon2 i{
    font-size: 15px;
    color: rgb(251,186,66);
  }
  .s-amp2{
    width: 100%;
    height: 40px;
    /* border: 1px solid palevioletred; */
    display: flex;
    justify-content: center;
  }
  .s-amp2 h4{
    font-size: 22px;
    font-weight: 100;
    color: #000000e2;
  }

  /* s3 */
  .s-img3{
    width: 23%;
    height: 380px;
    /* border: 1px solid red; */
  }
  .s-im3{
    width: 100%;
    height: 250px;
    /* border: 1px solid palegoldenrod; */
  }
  .s-im3 img{
    width: 100%;
    height: 100%;
  }
  .s-tx3{
    width: 100%;
    height: 130px;
    /* border: 1px solid palegreen; */
  }
  .s-nam3{
    width: 100%;
    height: 40px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
  }
  .s-nam3 a{
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
  }
  .s-icon3{
    width: 100%;
    height: 40px;
    /* border: 1px solid peru; */
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
  }
  .s-icon3 i{
    font-size: 15px;
    color: rgb(251,186,66);
  }
  .s-amp3{
    width: 100%;
    height: 40px;
    /* border: 1px solid palevioletred; */
    display: flex;
    justify-content: center;
  }
  .s-amp3 h4{
    font-size: 22px;
    font-weight: 100;
    color: #000000e2;
  }

  /* s4  */
  .s-img4{
    width: 23%;
    height: 380px;
    /* border: 1px solid red; */
  }
  .s-im4{
    width: 100%;
    height: 250px;
    /* border: 1px solid palegoldenrod; */
  }
  .s-im4 img{
    width: 100%;
    height: 100%;
  }
  .s-tx4{
    width: 100%;
    height: 130px;
    /* border: 1px solid palegreen; */
  }.s-nam4{
    width: 100%;
    height: 40px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
  }
  .s-nam4 a{
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
  }
  .s-icon4{
    width: 100%;
    height: 40px;
    /* border: 1px solid peru; */
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
  }
  .s-icon4 i{
    font-size: 15px;
    color: rgb(251,186,66);
  }
  .s-amp4{
    width: 100%;
    height: 40px;
    /* border: 1px solid palevioletred; */
    display: flex;
    justify-content: center;
  }
  .s-amp4 h4{
    font-size: 22px;
    font-weight: 100;
    color: #000000e2;
  }
  
  .untal{
    text-decoration: underline;
  }


  /* .sec5  */

  .sec5{
    width: 100%;
    height: 400px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  /* s5  */

  .s-img5{
    width: 23%;
    height: 380px;
    /* border: 1px solid red; */
  }
  .s-im5{
    width: 100%;
    height: 250px;
    /* border: 1px solid palegoldenrod; */
  }
  .s-im5 img{
    width: 100%;
    height: 100%;
  }
  .s-tx5{
    width: 100%;
    height: 130px;
    /* border: 1px solid palegreen; */
  }
  .s-nam5{
    width: 100%;
    height: 40px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
  }
  .s-nam5 a{
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
  }
  .s-icon5{
    width: 100%;
    height: 40px;
    /* border: 1px solid peru; */
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
  }
  .s-icon5 i{
    font-size: 15px;
    color: rgb(251,186,66);
  }
  .s-amp5{
    width: 100%;
    height: 40px;
    /* border: 1px solid palevioletred; */
    display: flex;
    justify-content: center;
  }
  .s-amp5 h4{
    font-size: 22px;
    font-weight: 100;
    color: #000000e2;
  }

  /* s6  */

  .s-img6{
    width: 23%;
    height: 380px;
    /* border: 1px solid red; */
  }
  .s-im6{
    width: 100%;
    height: 250px;
    /* border: 1px solid palegoldenrod; */
  }
  .s-im6 img{
    width: 100%;
    height: 100%;
  }
  .s-tx6{
    width: 100%;
    height: 130px;
    /* border: 1px solid palegreen; */
  }
  .s-nam6{
    width: 100%;
    height: 40px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
  }
  .s-nam6 a{
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
  }
  .s-icon6{
    width: 100%;
    height: 40px;
    /* border: 1px solid peru; */
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
  }
  .s-icon6 i{
    font-size: 15px;
    color: rgb(251,186,66);
  }
  .s-amp6{
    width: 100%;
    height: 40px;
    /* border: 1px solid palevioletred; */
    display: flex;
    justify-content: center;
  }
  .s-amp6 h4{
    font-size: 22px;
    font-weight: 100;
    color: #000000e2;
  }

  /* s7  */

  .s-img7{
    width: 23%;
    height: 380px;
    /* border: 1px solid red; */
  }
  .s-im7{
    width: 100%;
    height: 250px;
    /* border: 1px solid palegoldenrod; */
  }
  .s-im7 img{
    width: 100%;
    height: 100%;
  }
  .s-tx7{
    width: 100%;
    height: 130px;
    /* border: 1px solid palegreen; */
  }
  .s-nam7{
    width: 100%;
    height: 40px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
  }
  .s-nam7 a{
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
  }
  .s-icon7{
    width: 100%;
    height: 40px;
    /* border: 1px solid peru; */
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
  }
  .s-icon7 i{
    font-size: 15px;
    color: rgb(251,186,66);
  }
  .s-amp7{
    width: 100%;
    height: 40px;
    /* border: 1px solid palevioletred; */
    display: flex;
    justify-content: center;
  }
  .s-amp7 h4{
    font-size: 22px;
    font-weight: 100;
    color: #000000e2;
  }

  /* s8 */

  .s-img8{
    width: 23%;
    height: 380px;
    /* border: 1px solid red; */
  }
  .s-im8{
    width: 100%;
    height: 250px;
    /* border: 1px solid palegoldenrod; */
  }
  .s-im8 img{
    width: 100%;
    height: 100%;
  }
  .s-tx8{
    width: 100%;
    height: 130px;
    /* border: 1px solid palegreen; */
  }
  .s-nam8{
    width: 100%;
    height: 40px;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: center;
  }
  .s-nam8 a{
    font-size: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #000;
  }
  .s-icon8{
    width: 100%;
    height: 40px;
    /* border: 1px solid peru; */
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
  }
  .s-icon8 i{
    font-size: 15px;
    color: rgb(251,186,66);
  }
  .s-amp8{
    width: 100%;
    height: 40px;
    /* border: 1px solid palevioletred; */
    display: flex;
    justify-content: center;
  }
  .s-amp8 h4{
    font-size: 22px;
    font-weight: 100;
    color: #000000e2;
  }

  /* .sec6  */

  .sec6{
    width: 100%;
    height: 150px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .sec6 button{
    width: 20%;
    height: 45px;
    border: 1px solid rgb(159,120,255);
    border-radius: 5px;
    background-color: transparent;
    color: rgb(159,120,255);
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
  }
  .sec6 button::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background: rebeccapurple;
    z-index: -1;
    transition: .2s ease-out;
}
.sec6 button:hover::before{
    left:0;
    width:100%;
}

  /* sec7  */
  .sec7{
    width: 100%;
    height: 550px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sc-img{
    width: 93%;
    height: 540px;
    /* border: 1px solid red; */
    background: url(17.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sc-img h1{
    font-size: 85px;
    text-align: center;
    color: #ffffffd7;
    font-weight: 100;
  }
  .sc-img button{
    width: 20%;
    height: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    border: none;
    background-color: rgb(159,120,255);
    color: #fff;
    margin-top: 25px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
  }
  .sec7 button::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background: rebeccapurple;
    z-index: -1;
    transition: .2s ease-out;
}
.sec7 button:hover::before{
    left:0;
    width:100%;
}

  /* sec8 */
  .sec8{
    width: 100%;
    height: 400px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .titel-img1{
    width: 45%;
    height: 350px;
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: end;
  }
  .titel-img1 img{
      width: 100%;
      height: 100%;
  }
  .titel-img1 img:hover{
    transform: scale(1.2);
    transition: 3s;
  }
  .tit-tx{
    width: 90%;
    height: 150px;
    /* border: 1px solid red; */
    position: absolute;
    top:140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* z-index: 1; */
  }
  .tit-tx h1{
    font-size: 38px;
    color: #fff;
  }
  .tit-tx button{
    width: 30%;
    height: 40px;
    font-size: 15px;
    border: none;
    color: #fff;
    background-color: rgb(159,120,255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
  }
  .tit-tx button::before{
    content: '';
    position: absolute;
    top:0; right:0;
    height: 100%;
    width:0%;
    background: rebeccapurple;
    z-index: -1;
    transition: .2s ease-out;
}
.tit-tx button:hover::before{
    left:0;
    width:100%;
}
  .titel-img2{
    width: 45%;
    height: 350px;
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: end;
  }
  .titel-img2 img{
    width: 100%;
    height: 100%;
}
.titel-img2 img:hover{
  transform: scale(1.2);
  transition: 3s;
}


.tit-tx2{
  width: 90%;
  height: 150px;
  /* border: 1px solid red; */
  position: absolute;
  top:140px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* z-index: 1; */
}
.tit-tx2 h1{
  font-size: 38px;
  color: #fff;
}
.tit-tx2 button{
  width: 30%;
  height: 40px;
  font-size: 15px;
  border: none;
  color: #fff;
  background-color: rgb(159,120,255);
  cursor: pointer;
    position: relative;
    z-index: 0;
    overflow:hidden;
}
.tit-tx2 button::before{
  content: '';
  position: absolute;
  top:0; right:0;
  height: 100%;
  width:0%;
  background: rebeccapurple;
  z-index: -1;
  transition: .2s ease-out;
}
.tit-tx2 button:hover::before{
  left:0;
  width:100%;
}


/* sec9  */

.sec9{
    width: 100%;
    height: 350px;
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: rgb(247,247,253);
}
.dilevari{
  width: 23%;
  height: 140px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
}
.dilevari img{
  width: 30%;
}
.dilevari h4{
  font-size: 20px;
}


/* footal  */

.footal{
  width: 100%;
  height: 500px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  background-color: rgb(29,37,71);
}
.t1{
  width: 18%;
  height: 380px;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.t2{
  width: 18%;
  height: 302px;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.t3{
  width: 18%;
  height: 302px;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.t4{
  width: 18%;
  height: 302px;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.t5{
  width: 18%;
  height: 302px;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.t-icon{
  width: 100%;
  height: 60px;
  /* border: 1px solid palegreen; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.t-tx{
  width: 100%;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
}
.t-tx h1{
  font-size: 25px;
  color: #fff;
}
.t-pr{
  width: 100%;
  height: 150px;
  padding-top: 22px;
  /* border: 1px solid red; */
}
.t-pr p{
  font-size: 18px;
  font-weight: 100;
  color: #fff;
}
.t-icon i{
  font-size: 20px;
  color: #fff;
}
.t-icon i:hover{
  color: rgb(20,12,64);
  background-color: transparent;
}
.t-ai {
  width: 100%;
  height: 150px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.t-ai a{
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
.t-ai a:hover{
  color: rgb(20,12,64);
  text-decoration: underline;
  background-color: transparent;
}
